BRIDGE_ADDR=bridge.local:9445
CA_CERT=../../certs/ca-bundle.crt
CLIENT_CERT=../../certs/dev-client.crt
CLIENT_KEY=../../certs/dev-client.key
JWT_KEY=../../certs/jwt-signing.key
JWT_ISSUER=dev
JWT_AUDIENCE=bridge
JWT_PROJECT=dev
PORT=3000
VITE_PORT=5173
